
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            background: rgb(238,210,174);
            background: radial-gradient(circle, rgba(238,210,174) 0%, rgba(148,174,233,1) 100%);
        }
        #calculator {
            width: 335px;
            padding: 22px 19px 15px 16px;
            background-image: linear-gradient(to top, #cfd8de 10%, #dfe6ea 70%);
            border-radius: 17px;
            box-shadow: 15px 18px 18px rgba(20, 2, 3, 0.4);
        }
        #display {
            width: 100%;
            height: 10vh;
            padding: 1px;
            font-size: 1.5em;
            margin-bottom: 12px;
            text-align: right;
            border: 2px solid #064d98;
            border-radius: 7px;
            outline: none;
        }
        button {
            width: 70px;
            height: 50px;
            margin: 5px;
            font-size: 1.2em;
            border: none;
            border-radius: 5px;
            background-color: #057bf9;
            color: rgb(255, 255, 255);
            cursor: pointer;
            outline: none;
        }
        .operator {
            background-color: #1569c3;
        }
        .function {
            background-color: #bcbaba;
            color: #131313;
        }
        button:active {
            transform: scale(0.95);
        }
        p{
            margin-left: 14px;
            font-weight: bold;
        }